[user]
	name = Yigal Duppen
	useConfigOnly = true 

[branch]
	autosetuprebase = always

[core]
	autocrlf = input
	editor = /usr/bin/vim

[alias]
	st = status
	co = checkout
	last = log -1 HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	amend = commit --amend -c HEAD
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ $`echo $VAR` = \\\"$OLD\\\" ]]; then export $VAR=\\\"$NEW\\\"; fi\" $@; }; f "
	ishow = "! bash -c 'git show --pretty=\"format:\"  --name-only \"$(git merge-base \"$(git rev-parse --abbrev-ref HEAD)\" master)..HEAD\" | grep -v \"^$\" | sort | uniq' -"
	up = pull --rebase --autostash
	cbr = "! git co master ; git for-each-ref --format '%(refname:short)' refs/heads/ | grep -v master | xargs git branch -D"

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto

[push]
	default = simple

[url "git@github.com:door2doc"]
	insteadOf = https://github.com/door2doc
[fetch]
	prune = true
